.header{
    padding: 25px;
    text-align:center;
    background: rgba(238, 238, 238);
    color: rgb(56, 168, 219);
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    
}